.header {
    padding-top: 68px;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 121px;
}

.header__navigation {
    width: 100%;
    max-width: 231px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    transition: 0.2s color;
}

.navigation__link--active,
.navigation__link:hover {
    font-weight: 800;
    color: #212353;
}
@media (max-width: 767px) {
    .header__logo {
        margin-right: 32px;
    }
    .header {
        padding-top: 16px;
    }
    .header__navigation {
        max-width: 180px;
    }
}